In [2]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://faraz123:faraz123@cluster0.ldhy9qc.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

# import pymongo
# client = pymongo.MongoClient("mongodb+srv://farazsfa:<mongo1>@cluster0.ldhy9qc.mongodb.net/")
# db = client.test

Pinged your deployment. You successfully connected to MongoDB!

In [12]:
db = client['DB_name']

In [13]:
data = {"name":"faraz",
        "class":"MCA",
        "Sem":"4th Sem",
        "time":"8hr"}

In [14]:
data

{'name': 'faraz', 'class': 'MCA', 'Sem': '4th Sem', 'time': '8hr'}

In [15]:
coll_DB_name = db["my_record"]

In [16]:
coll_DB_name.insert_one(data)

InsertOneResult(ObjectId('659666c622faedfd94053678'), acknowledged=True)

In [17]:
data1={
    "name":"rohan",
    "Contact":"987262552",
    "Add":"Allahabad",
    "Subject":"Computer",
}

In [19]:
coll_DB_name1 = db["new_record"]

In [20]:
coll_DB_name1.insert_one(data1)

InsertOneResult(ObjectId('659667ca22faedfd94053679'), acknowledged=True)

In [21]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
  ]

In [22]:
type(data2)

list

In [23]:
coll_DB_name1.insert_many(data2)

InsertManyResult([ObjectId('65966bc322faedfd9405367a'), ObjectId('65966bc322faedfd9405367b'), ObjectId('65966bc322faedfd9405367c'), ObjectId('65966bc322faedfd9405367d'), ObjectId('65966bc322faedfd9405367e'), ObjectId('65966bc322faedfd9405367f'), ObjectId('65966bc322faedfd94053680'), ObjectId('65966bc322faedfd94053681'), ObjectId('65966bc322faedfd94053682'), ObjectId('65966bc322faedfd94053683'), ObjectId('65966bc322faedfd94053684'), ObjectId('65966bc322faedfd94053685')], acknowledged=True)

In [24]:
for i in coll_DB_name1.find():
    print(i)

{'_id': ObjectId('659667ca22faedfd94053679'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('65966bc322faedfd9405367a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65966bc322faedfd9405367b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65966bc322faedfd9405367c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65966bc322faedfd9405367d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65966bc322faedfd9405367e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65966bc322faedfd9405367f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65966bc322faedfd94053680'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65966bc322faedfd94053681'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65966bc322faedfd94053682'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65966bc322faedfd94053683'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65966bc322faedfd94053684'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65966bc322faedfd94053685'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
coll_DB_name1.find({'name': 'Richard'})

In [26]:
for i in coll_DB_name1.find({'name':'Richard'}):
    print(i)

{'_id': ObjectId('65966bc322faedfd9405367f'), 'name': 'Richard', 'address': 'Sky st 331'}

In [31]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [32]:
coll_DB_name1.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [34]:
for i in coll_DB_name1.find({'companyName':'iNeuron'}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [35]:
for i in coll_DB_name1.find({"_id":{"$gte":'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [39]:
coll_DB_name1.update_many({'companyName': 'iNeuron'},{"$set":{'companyName': 'Microsoft'}})

UpdateResult({'n': 3, 'electionId': ObjectId('7fffffff0000000000000007'), 'opTime': {'ts': Timestamp(1704449906, 6), 't': 7}, 'nModified': 3, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704449906, 6), 'signature': {'hash': b' \xa0\x8d\xa5z]\x107\xda6D\xa8\x9f\x00w\xb3\xf6F\x8e\xe2', 'keyId': 7319479005235642374}}, 'operationTime': Timestamp(1704449906, 6), 'updatedExisting': True}, acknowledged=True)

In [40]:
for i in coll_DB_name1.find():
    print(i)

{'_id': ObjectId('659667ca22faedfd94053679'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('65966bc322faedfd9405367a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65966bc322faedfd9405367b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65966bc322faedfd9405367c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65966bc322faedfd9405367d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65966bc322faedfd9405367e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65966bc322faedfd9405367f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65966bc322faedfd94053680'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65966bc322faedfd94053681'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65966bc322faedfd94053682'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65966bc322faedfd94053683'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65966bc322faedfd94053684'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65966bc322faedfd94053685'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'Microsoft', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'Microsoft', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Microsoft', 'Faculty': 'PQR'}