In [1]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://faraz123:faraz123@cluster0.ldhy9qc.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

# import pymongo
# client = pymongo.MongoClient("mongodb+srv://farazsfa:<mongo1>@cluster0.ldhy9qc.mongodb.net/")
# db = client.test

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
db = client['DB_name']

In [3]:
data = {"name":"faraz",
        "class":"MCA",
        "Sem":"4th Sem",
        "time":"8hr"}

In [4]:
data

{'name': 'faraz', 'class': 'MCA', 'Sem': '4th Sem', 'time': '8hr'}

In [5]:
coll_DB_name = db["my_record"]

In [6]:
coll_DB_name.insert_one(data)

InsertOneResult(ObjectId('659bbdaaa4baa346fb61042f'), acknowledged=True)

In [7]:
data1={
    "name":"rohan",
    "Contact":"987262552",
    "Add":"Allahabad",
    "Subject":"Computer",
}

In [8]:
coll_DB_name1 = db["new_record"]

In [9]:
coll_DB_name1.insert_one(data1)

InsertOneResult(ObjectId('659bbdaaa4baa346fb610430'), acknowledged=True)

In [10]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
  ]

In [11]:
type(data2)

list

In [12]:
coll_DB_name1.insert_many(data2)

InsertManyResult([ObjectId('659bbdaaa4baa346fb610431'), ObjectId('659bbdaaa4baa346fb610432'), ObjectId('659bbdaaa4baa346fb610433'), ObjectId('659bbdaaa4baa346fb610434'), ObjectId('659bbdaaa4baa346fb610435'), ObjectId('659bbdaaa4baa346fb610436'), ObjectId('659bbdaaa4baa346fb610437'), ObjectId('659bbdaaa4baa346fb610438'), ObjectId('659bbdaaa4baa346fb610439'), ObjectId('659bbdaaa4baa346fb61043a'), ObjectId('659bbdaaa4baa346fb61043b'), ObjectId('659bbdaaa4baa346fb61043c')], acknowledged=True)

In [13]:
for i in coll_DB_name1.find():
    print(i)

{'_id': ObjectId('659667ca22faedfd94053679'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('65966bc322faedfd9405367a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65966bc322faedfd9405367b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65966bc322faedfd9405367c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65966bc322faedfd9405367d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65966bc322faedfd9405367e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65966bc322faedfd9405367f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65966bc322faedfd94053680'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65966bc322faedfd94053681'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65966bc322faedfd94053682'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65966bc322faedfd94053683'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65966bc322faedfd94053684'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65966bc322faedfd94053685'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'Microsoft', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'Microsoft', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Microsoft', 'Faculty': 'PQR'}
{'_id': ObjectId('65992dab75cc4ae75f2bdd21'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd22'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd23'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd24'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd25'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd26'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd27'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd28'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd29'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('659bbdaaa4baa346fb610430'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('659bbdaaa4baa346fb610431'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('659bbdaaa4baa346fb610432'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('659bbdaaa4baa346fb610433'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('659bbdaaa4baa346fb610434'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('659bbdaaa4baa346fb610435'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('659bbdaaa4baa346fb610436'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('659bbdaaa4baa346fb610437'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('659bbdaaa4baa346fb610438'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('659bbdaaa4baa346fb610439'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('659bbdaaa4baa346fb61043a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('659bbdaaa4baa346fb61043b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('659bbdaaa4baa346fb61043c'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
coll_DB_name1.find({'name': 'Richard'})

In [15]:
for i in coll_DB_name1.find({'name':'Richard'}):
    print(i)

{'_id': ObjectId('65966bc322faedfd9405367f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd27'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('659bbdaaa4baa346fb610436'), 'name': 'Richard', 'address': 'Sky st 331'}

In [16]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [17]:
for i in coll_DB_name1.find({'companyName':'iNeuron'}):
    print(i)

In [18]:
for i in coll_DB_name1.find({"_id":{"$gte":'4'}}):
    print(i)

{'_id': '4', 'companyName': 'Microsoft', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Microsoft', 'Faculty': 'PQR'}

In [19]:
coll_DB_name1.update_many({'companyName': 'iNeuron'},{"$set":{'companyName': 'Microsoft'}})

UpdateResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000007'), 'opTime': {'ts': Timestamp(1704705450, 6), 't': 7}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704705450, 6), 'signature': {'hash': b'\xf4E\x10~\x19\x0e\x81R\x10ZeU\x80 (I\xb1T\xc0!', 'keyId': 7319479005235642374}}, 'operationTime': Timestamp(1704705450, 6), 'updatedExisting': False}, acknowledged=True)

In [20]:
for i in coll_DB_name1.find():
    print(i)

{'_id': ObjectId('659667ca22faedfd94053679'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('65966bc322faedfd9405367a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65966bc322faedfd9405367b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65966bc322faedfd9405367c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65966bc322faedfd9405367d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65966bc322faedfd9405367e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65966bc322faedfd9405367f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65966bc322faedfd94053680'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65966bc322faedfd94053681'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65966bc322faedfd94053682'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65966bc322faedfd94053683'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65966bc322faedfd94053684'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65966bc322faedfd94053685'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'Microsoft', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'Microsoft', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Microsoft', 'Faculty': 'PQR'}
{'_id': ObjectId('65992dab75cc4ae75f2bdd21'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd22'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd23'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd24'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd25'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd26'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd27'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd28'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd29'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65992dad75cc4ae75f2bdd2d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('659bbdaaa4baa346fb610430'), 'name': 'rohan', 'Contact': '987262552', 'Add': 'Allahabad', 'Subject': 'Computer'}
{'_id': ObjectId('659bbdaaa4baa346fb610431'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('659bbdaaa4baa346fb610432'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('659bbdaaa4baa346fb610433'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('659bbdaaa4baa346fb610434'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('659bbdaaa4baa346fb610435'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('659bbdaaa4baa346fb610436'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('659bbdaaa4baa346fb610437'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('659bbdaaa4baa346fb610438'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('659bbdaaa4baa346fb610439'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('659bbdaaa4baa346fb61043a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('659bbdaaa4baa346fb61043b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('659bbdaaa4baa346fb61043c'), 'name': 'Viola', 'address': 'Sideway 1633'}